<nav>
    <div class="site-title">
        <h1><a href="/">Mini Message Board</a></h1>
        <p>message board</p>
    </div>
    <ul>
        <li><a href="/">Messages</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/messages/create">Create</a></li>
    </ul>
</nav>