<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')  %>
<body>
    <%- include('../partials/nav.ejs') %>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae fugit magnam nemo ad corporis voluptatem quasi?
    Reiciendis reprehenderit eum voluptatem maxime, ipsa consectetur dolore ipsum totam esse, sint modi vel.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, pariatur maiores corrupti et tempora excepturi,
    numquam sequi, nihil similique illo unde doloribus dolorum deserunt assumenda obcaecati. Temporibus corrupti debitis
    fuga.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam reiciendis minima alias fugiat debitis aliquid qui
    natus tempore accusantium nulla consectetur reprehenderit, dolore magni quod dolorum, dignissimos obcaecati optio
    odio?</p>

    

    <%- include('../partials/footer.ejs')  %>
</body>
</html>